.pic1 { /*москва*/
  background-image: url('https://moscowchronology.ru/sites/default/files/images/about/O_Moskve_107.jpg');
}

.pic2 { /*Санкт-Петербург*/
  background-image: url('https://img.gazeta.ru/files3/949/10177949/shutterstock_199494515-pic905-895x505-25630.jpg');
}

.pic3 { /*Казань*/
  background-image: url('https://opis-cdn.tinkoffjournal.ru/ip/IGCeDG7goAy7PalE4PwQS-EPRsKCDX2lGMmhqtQpdtY/w:1200/aHR0cHM6Ly9pbWct/Y2RuLnRpbmtvZmZq/b3VybmFsLnJ1Ly0v/bWFpbl9fX3NodXR0/ZXJzdG9ja180Mzg4/NDMwOTcuOHRqNTlu/NmpnZnYwLmpwZw');
}

.pic4 { /*Нижний Новгород*/
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9f/%D0%9A%D1%80%D0%B5%D0%BC%D0%BB%D1%8C_%D0%9D%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9_1_%D0%BE%D0%B1%D1%80%D0%B5%D0%B7%D0%B0%D0%BD%D0%BD%D1%8B%D0%B9.jpg');
}

.pic5 { /*Новосибирск*/
  background-image: url('https://img-fotki.yandex.ru/get/4129/30348152.14f/0_6b7f4_6c1034fc_orig');
}

.pic6 { /*Самара*/
  background-image: url('https://www.advantour.com/russia/images/samara/samara5.jpg');
}

.pic7 { /*Сочи*/
  background-image: url('https://img.geo.pro/geopro-photos/upload/iblock/1d6/Gorod_kurort_Sochi.jpg');
}

.pic8 { /*Екатеринбург*/
  background-image: url('https://img-fotki.yandex.ru/get/6417/30348152.148/0_69e2f_19340fca_orig');
}

.pic9 { /*Грозный*/
  background-image: url('https://www.geo360.ru/upload/resize_cache/sprint.editor/73e/1000_625_10e423fdebffef9f74f54ec5b7ce1b66a/img_1620498517_9218_806_img_20210424_143830.jpg');
}

.pic10 { /*Якутск*/
  background-image: url('https://img.geliophoto.com/yakutsk/01_yakutsk.jpg');
}

.pic11 { /*Челябинск*/
  background-image: url('https://img-fotki.yandex.ru/get/6839/30348152.197/0_80d0d_8d5e86fd_orig');
}

.pic12 { /*Омск*/
  background-image: url('https://wikiway.com/upload/iblock/80b/Omsk.jpg');
}

.pic13 { /*Ростов-на-Дону*/
  background-image: url('https://34travel.me/media/upload/images/2019/march/rostov-na-donu/new/Depositphotos_201004458_s-2019.jpg');
}

.pic14 { /*Уфа*/
  background-image: url('https://s0.rbk.ru/v6_top_pics/media/img/7/16/756141717479167.png');
}

.pic15 { /*Пермь*/
  background-image: url('https://shkolatur.ru/upload/catalog/catalog5e4d1aadb0188_max.jpeg');
}

.pic16 { /*Красноярск*/
  background-image: url('http://www.admkrsk.ru/assets/%D0%9C%D0%B5%D0%B4%D0%B8%D0%B0%D1%84%D0%B0%D0%B9%D0%BB%D1%8B/%D0%96%D0%94%20%D0%B2%D0%BE%D0%BA%D0%B7%D0%B0%D0%BB.jpg');
}

.pic17 { /*Краснодар*/
  background-image: url('https://opis-cdn.tinkoffjournal.ru/ip/1iITAvIX_srJ4heFhU9XHWlVLR3axQM3082kVE2oSaA/w:1200/aHR0cHM6Ly9pbWct/Y2RuLnRpbmtvZmZq/b3VybmFsLnJ1Ly0v/bWFpbl9fX2tyYXNu/b2Rhcl9fX3NodXR0/ZXJzdG9ja18xNDE2/NDkxODQ5Lmd1am15/aHdqYWtmNi5qcGc');
}

.pic18 { /*Волгоград*/
  background-image: url('https://www.erv.ru/upload/medialibrary/809/9ho6adt4wgezklsnkv7ehpm42lm6rh37/mamaev_kurgan.jpg');
}

.pic19 { /*Воронеж*/
  background-image: url('https://vyborstroi.ru/upload/images/cms/content/present/pres_1.jpg');
}

.pic20 { /*Петропавловск-Камчатский*/
  background-image: url('https://kamchatkaland.ru/upload/images/putevoditel/petropavlovsk-kamchatskij/petropavlovsk2.jpg');
}
